<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="/login" method="post">
        <div>
            <br /><b>
                <h2>LOGIN FORM</h2>
            </b>
            <div>
                <input type="text" name="username" placeholder="username" />
            </div>
            <div>
                <input type="password" name="password" placeholder="password" />
            </div>
            <div>
                <input id="button" type="submit" value="login" />
            </div>
        </div>
    </form>
</body>

</html>