<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>

<body>
    <form action="/signUp" method="post">
        <div>
            <br /><b>
                <h2>sign up</h2>
            </b>

            <div>
                <input type="text" name="username" placeholder="Username" />
            </div>

            <div>
                <input type="password" name="password" placeholder="Password" />
            </div>

            <div>
                <input type="email" name="email" placeholder="email" />
            </div>

            <div>
                <select name="gender" id="select">
                    <option>choose</option>
                    <option>male</option>
                    <option>female</option>
                </select>
            </div>
            <div>
                <input id="button" type="submit" value="sign up" />
            </div>
    </form>

</body>

</html>